#navcol-1 {
  text-transform: uppercase;
}

#navcol-1 .nav-item {
  padding-right: 54px;
}

#navcol-1 {
}

.nav.navbar-nav.right {
  text-transform: uppercase;
}

.navbar-expand-md .navbar-nav {
  text-transform: uppercase;
}

.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {
  padding-right: 39px;
}

.first-section {
  padding-top: 100px;
  text-align: center;
}

.first-section h4 {
  font-size: 36px;
  font-weight: 400;
}

.first-section h1 {
  font-size: 75px;
  font-weight: 400;
  padding-bottom: 144px;
}

.first-section {
  color: #FFF;
}

.intro {
  font-family: sans-serif;
}

